*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    display: flex;
    /*background-image: linear-gradient(to right, rgb(175, 5, 5) , rgb(26, 26, 196));*/
    justify-content: space-between;
   align-items: center;
   /*box-shadow: 0px 4px  rgb(33, 33, 34);*/
   height: 100%;
   /*padding-bottom: 10px;*/

}

.logo {
  /*justify-content: left;*/
  width: 120px;
  /*height: 120px;*/
  cursor: pointer;
  margin-right: 14px;
  margin-left: 74px;
  margin-top: 16px;
}

.nav-text{
    /*color:snow;*/
    /*color: #000000;
    font-size: 1.8rem;*/
    /*margin-left: 10px;*/
    margin-right: auto;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    line-height: 42px;
    text-decoration: none;
}

.navlinks {
    display: flex;
    list-style: none;
     float: left; 
     margin-right: 80px;
    text-decoration: none;

}

.navlinks a{

    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #7A7A7A;
    line-height: 32px;
    font-size: .9rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;

}


.dropdownIcon{
    display:none;
}

.navlinks a:hover{

    /*background-color: rgba(70, 81, 141, .6);*/
    color: #FF8A16;
    border-radius: 2px;
}




/* Welcome text On Home Page */
.welcome {
  text-align: center;
  font-family: roboto, sans-serif;
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
  color: #2d3748;
}


/*Css Flexbox For Home Page Buttons*/
.flex-container1 {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container1 > div {
  width: 1000px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
    text-decoration: none;
} /*end of Css Flexbox*/


/* Both Button styles */
.button {
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-decoration: none;
  font-family: Lobster, sans-serif;
  font-size: 25px;
  line-height: 25px;
  font-weight: 500;
  margin: 4px 2px;
  cursor: pointer;
  width: 60%;
  height: 91%;
}


/* Younger Divison Button */
.button1 {
  background-color: #ff8a16;
  box-shadow: 0px 17px 10px -12px #17aede;
  border-radius: 30px;
  padding: 15px 15px;
  width: 200px;
  height: 60px;
}


/* Older Divison Button */
.button2 {
  background-color: #ff8a16;
  box-shadow: 0px 17px 10px -12px #17aede;
  border-radius: 30px;
  padding: 15px 5px;
  width: 180px;
  height: 60px;
   text-decoration: none;
}

.younger {
  text-align: center;
  font-family: roboto, sans-serif;
  font-size: 25px;
  font-weight: 600;
   text-decoration: none;
}

.older {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
    text-decoration: none;
}


.spacer {
  padding: 30px;
}



@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Black.ttf);
    font-display: swap;
}

@font-face {
  font-family: Lobster;
  src: url(/assets/fonts/Lobster.ttf);
  font-display: swap;
}


/**************************Mobile ***********************/

@media screen and (max-width:600px){

    .dropdownIcon{
        display: block;
        position: absolute;
        top: 5px;
        right:10px;
        
    }
    
    .navitems:not(:nth-child(1)){
        display:none;
    }
    
    .navlinks.mobile {
        display: block;
        list-style: none;
        margin-top: 25px;
    }

    .navlinks.mobile li {
        display: block;
        line-height:1.6rem ;
        
        
    }



}
/***********************mobile end*******************/
